@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section featured {
<section class="featured">
    

    <div class="content-wrapper">
        <h1 id="welcome">
            Welcome, mortals!
        </h1>

        <h2>
            This place is under construction, but you're welcome to look around. 
        </h2>
        
        <p>
            Mind the loose, hanging wires. Oh, and do try not to get overly attached to anything shown on the current form of this site. 
        </p>
    </div>
</section>
}






<style>
    .featured {
        background-image: url("/Images/DeskCropped.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
    }

    #welcome {
        text-align: center;
        font-size: 3em;
    }
</style>