@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Illusion Lite";
}

@section featured {
    <div id="liteBanner">
        <h1><span>&nbsp; Illusion Lite &nbsp;</span></h1>
    </div>
}

<div>
    You found me. This is the Lite page.
</div>