@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Illusion Lite";
}
<script src="~/Scripts/IncludeHTML.js"></script>

@section featured {
    <div id="liteBanner">
        <h1><span>&nbsp; Illusion Lite &nbsp;</span></h1>
    </div>
}


<div class="leftcolumn">
    <div class="card">
        <div>
            <h2>Introduction to Illusion Lite</h2>

            <p>
                Hey, this'll probably be the last page of the Illusion Lite section to get worked on, so for now I'll just list what's up and running. You can access the different section
                of Illusion Lite with the navigation bar over there to the right.
            </p>            
            Currently no section is fully complete (all information and illustrations).
            <br />
            Currently the Character Creation and Races sections are content ready (all information, but not illustrations).
            <br />
            Currently the Attributes section is under development. 
            <br />
            
            <p>
                Huh? Hey, don't be sad. I'm just one dude working on this, and besides, I work on it every day! I promise there will be near daily updates and new content regularly until 
                the rules are fully here and beyond! If you've got any comments, questions, or words of encouragement, shoot me an email at daniel.allred@towerofillusion.com!
            </p>

        </div>
    </div>
</div>



<div class="rightcolumn">
    <div class="card">
        <div w3-include-html="~/Illusion Lite Pages/IllusionLiteNavigationBar.html"></div>
        <script> includeHTML(); </script>

    </div>
</div>