@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Character Creation";
}
<script src="~/Scripts/IncludeHTML.js"></script>

@section featured {
    <div id="liteBanner">
        <h1><span>&nbsp; Illusion Lite &nbsp;</span></h1>
    </div>
}


<div class="leftcolumn">
    <div class="card">
        <div>
            <h2>Character Creation</h2>

            <p>
                Character creation might seem complicated at first glance, but once you've gone through it once, every subsequent character will be easy! 
                The game runner should run through this process at least once before the group gets together to play to ensure it goes smoothly. Players should consider
                making a diverse group of characters without too much overlapping aptitudes, so they can more effectively tackle a wide array of challenges.
            </p>
            
            <ul>
                The character creation process goes as follows, with each step being further detailed below;
                <li></li>
            </ul>



        </div>
    </div>
</div>



<div class="rightcolumn">
    <div class="card">
        <div w3-include-html="Illusion Lite Pages/IllusionLiteNavigationBar.html"></div>
        <script> includeHTML(); </script>

    </div>
</div>