@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Character Creation";
}
<script src="~/Scripts/IncludeHTML.js"></script>

@section featured {
    <div id="liteBanner">
        <h1><span>&nbsp; Illusion Lite &nbsp;</span></h1>
    </div>
}


<div class="leftcolumn">
    <div class="card" id="CharacterCreation">
        <div>
            <h2>Character Creation</h2>

            <p>
                Character creation might seem complicated at first glance, but once you've gone through it once, every subsequent character will be easy! 
                The game runner should run through this process at least once before the group gets together to play to ensure it goes smoothly. Players should consider
                making a diverse group of characters without too much overlapping aptitudes, so they can more effectively tackle a wide array of challenges.
            </p>
            

            The character creation process goes as follows, with each step being further detailed below;
            
            <ul>
                <li><strong>1.</strong> Picking a <em>Race</em></li>
                <li><strong>2.</strong> Generating <em>Attribute Scores</em></li>
                <li><strong>3.</strong> Choosing an <em>Identity</em></li>
                <li><strong>4.</strong> Spending <em>Skill Points</em></li>
                <li><strong>5.</strong> Selecting Character <em>Features</em></li>
                <li><strong>6.</strong> Generating <em>Starting Wealth</em></li>
            </ul>
        </div>
    </div>
    
    
    <div class="card" id="PickRace">
        <h2>Picking a Race</h2>

        <p>
            A large part of character creation in Illusion is selecting your character’s race, as it provides an influence on your character’s attribute 
            scores and their roleplaying direction. While there are only six races present in Illusion, as shown in the table below, players are invited to 
            create their own races, or modify the existing ones, so long as the other players at the table, specifically the Game Master, are okay with it. 
            Each character is required to have one race attributed to their character, no more, no less.
        </p>

        <p>
            Presented below are the mechanical effects of each race, but those interested in more details regarding each race's personality and fixture in the 
            World of Illusion can refer to the "Races" section under the core rules.
        </p>
        
        <table id="FullTable">
            <tr>
                <th>Race</th> <th>Bonus</th> <th>Penalty</th>
            </tr>
            <tr>
                <td>Dwarf</td>
                <td>Can distribute 2 points between Vigor and Reason</td>
                <td>Starting Control is reduced by 1</td>
            </tr>            
            <tr>
                <td>Elf</td>
                <td>Can distribute 2 points between Control and Logic</td>
                <td>Starting Vigor is reduced by 1</td>
            </tr>
            <tr>
                <td>Half-Elf</td>
                <td>Starting Disposition is improved by 1, and any one attribute is improved by 1</td>
                <td>Reduce any one attribute by 1 point</td>
            </tr>
            <tr>
                <td>Halfling</td>
                <td>Can distribute 2 points between Control and Disposition</td>
                <td>Starting Might is reduced by 1</td>
            </tr>
            <tr>
                <td>Half-Orc</td>
                <td>Can distribute 2 points among all attributes</td>
                <td>Starting Disposition is reduced by 1</td>
            </tr>
            <tr>
                <td>Human</td>
                <td>Improve any one attribute by 1 point</td>
                <td><em>None</em></td>
            </tr>
        </table>

        <p>
            Players might also take this time to flesh out the core concept of their character's personality. What motivates them? What do they do for a living? What are they good and bad at?
            There's plenty of ways one can make their character more than just a list of numbers and tags. Discuss with the other players who the character's are and why they're adventuring together!
        </p>
    </div>


    <div class="card" id="GenerateAttributes">
        <div>
            <div>
                <h2>Generating Attribute Scores</h2>

                <p>
                    Once everyone has their character idea decided on, all the players will next decide on their attribute scores. There are 6 primary attributes
                    in Illusion: Might, Control, Vigor, Logic, Reason, and Disposition. These are detailed in the [section on attributes]. These attributes are fairly typical for
                    table top games, and likely mean exactly what one first thinks upon reading them. The primary attributes scores are intended to be generated randomly as detailed 
                    below. Players must generate 6 numbers and then either apply them to the attributes in the order they were generated, or choose which attribute to apply each score to.
                </p>

                <h3>Generation</h3>
                <p>
                    During score generation and before applying racial bonuses, each attribute score can range from 2 to 5. Should a score be raised
                    over 5, or lowered below 2, the overflow is ignored and the score is set to the closest value within the accepted range, either 5 or 2. Because of this, there are
                    2 reccomended ways to generate these numbers; Roll 6, 4-sided dice (d4) and add 1 to each result, <strong>or</strong> roll 6, 6-sided dice (d6) and reroll all results 
                    of 1 or 6. Both of these methods have the same odds for each result and it really comes down to what your group prefers to roll between d4s and d6s. Write down the 
                    resulting number sets on some scratch paper and move on to applying the scores.
                </p>

                <div class="subCard">
                    <h3><em>Optional</em></h3>
                    <p>
                        Some players find random stat generation to be unfair and prefer to use "stat arrays" so that every player character at the table is on equal footing. That's just fine,
                        though it can dilude some other character mechanics. The array used should fall into the same range as rolled scores- I would recommend using the array 
                        <strong>[2, 3, 3, 4, 4, 5]</strong>, though players are welcome to come up with their own. Simply ignore the generation step and predend these were the scores generated for each player, and apply them.
                    </p>
                </div>

                <h3>Application</h3>
                <p>
                    Once the 6 numbers are generated, they're distributed among the attributes, one to one. Once all the scores are distributed, racial bonuses are applied, which can result
                    in scores totaling over 5 or under 2, which is acceptable at this step in the process.
                </p>
                
                <h3>Determining Secondary Attributes</h3>
                <p>
                    Secondary attributes are scores that are derived from the primary attributes generated above. The meaning and application of these scores are detailed in the [second on
                    attributes], but to determine what their actual values are, refer to the outline below;


                    <table id="SecondaryAttributes">
                        <tr>
                            <td><strong>Resistance:</strong></td> <td>10 + Might Score + Vigor Score</td>
                        </tr>
                        <tr>
                            <td><strong>Evasion:</strong></td> <td>10 + Control Score + Logic Score</td>
                        </tr>
                        <tr>
                            <td><strong>Resolve:</strong></td> <td>10 + Disposition Score + Reason Score</td>
                        </tr>
                        <tr>
                            <td><strong>Development:</strong></td> <td>All attribute scores summed</td>
                        </tr>
                        <tr>
                            <td><strong>Destiny:</strong></td> <td>[Not yet determined]</td>
                        </tr>
                        <tr>
                            <td><strong>Health:</strong></td> <td>2 + Might Score + Vigor Score</td>
                        </tr>
                        <tr>
                            <td><strong>Movement:</strong></td> <td>1 + Agility Score</td>
                        </tr>
                    </table>

                    <br />
                    Once players are done determining their secondary attributes, they will be ready to move on to the next step of character creation. 
                </p>
            </div>
        </div>
    </div>


    <div class="card" id="PickIdentity">
        <h2>Choosing an Identity</h2>

        <p>
            At this point, players will choose an <em>Identity</em> for their characters. Identities most closely resemble classes from traditional tabletop roleplaying games,
            however they deliberately lack depth. Each identity will confer a bonus during character creation and inform the character’s background and training. It should be
            noted however, that your character doesn’t need to reflect the title of their identity and players can even come up with their own names to use over the default ones.
            For example, if a player wants to make a character that’s background is that of a spy, but they want the bonuses that the Larcenist identity gives, their identity
            can be: Spy (Larcenist).This doesn’t interfere with the actual mechanics of identities, so players are encouraged to do whatever suits their character’s story!
        </p>

        <p>
            Below are the current identities to pick from, though more will likely be added over time. The first column is the name of the identity, the second column is the skill point bonus
            gained from selecting the identity and the last column is the additional bonus one might gain such as character features or equipment.
        </p>

        <table id="FullTable">
            <tr>
                <th>Identity</th>
                <th>Bonus Skills</th>
                <th>Additional Bonuses</th>
            </tr>
            <tr>
                <td>Warrior</td>
                <td>4 points to spend on Might or Vigor Skills</td>
                <td>Fine Hand Weapon </td>
            </tr>
            <tr>
                <td>Guard</td>
                <td>3 points to spend on Vigor Skills</td>
                <td>Fitted Medium Armor</td>
            </tr>
            <tr>
                <td>Ranger</td>
                <td>4 points to spend on Might or Control Skills</td>
                <td>Fine Bow and 12 arrows</td>
            </tr>
            <tr>
                <td>Larcenist</td>
                <td>4 points to spend on Control and Disposition Skills</td>
                <td>Lockpicker feature</td>
            </tr>
            <tr>
                <td>Scholar</td>
                <td>5 points to spend on Logic Skills</td>
                <td> <em>None</em> </td>
            </tr>
            <tr>
                <td>Sage</td>
                <td>5 points to spend on Reason Skills</td>
                <td> <em>None</em> </td>
            </tr>
            <tr>
                <td>Barbarian</td>
                <td>2 points to spend on Might Skills</td>
                <td>2 Handed Weapon and the Vigorous feature</td>
            </tr>
            <tr>
                <td>Minstrel</td>
                <td>4 points to spend on Disposition Skills</td>
                <td>Instrument and Performer feature</td>
            </tr>
            <tr>
                <td>Vagrant</td>
                <td>1 extra point to spend in all Skill groups</td>
                <td> <em>None</em> </td>
            </tr>
        </table>

        <p>
            Remember to write down the benefits of your identity before moving on to the next step of character creation. The bonus skill points generated during this 
            step will be allocated during the next step.
        </p>

        <div class="subCard">
            <h3><em>Optional</em></h3>
            <p>
                Don’t be afraid to come up with your own identity if none of the listed ones work for your character idea. Try to follow the guideline of;

                <ul>
                    <li>5 points between up to 2 attributes</li>
                    <li>Can remove 1 point to add an item</li>
                    <li>Can remove 1 to 2 points to add a feature</li>
                </ul>

                If you've got an idea that you think would fit well with the default game, sent me an email at daniel.allred@towerofillusion.com!
            </p>
        </div>
    </div>


    <div class="card" id="SpendingSkillPoints">
        <h2>Spending Skill Points</h2>

        <p>
            Skills are like attributes but more specific to various situations. There are 6 skill groups, one for each attribute and, as a result, 
            each skill has a constituting attribute score. 
        </p>
        <p>
            Rather than having a pool of generic skill points to assign from, each character generates points into 6 groups, one for each attribute. 
            These skill points can only be spent on skills that are governed by the same attribute that generated the points. This means that if a 
            character has a Might score of 3, they would generate 3 Might Skill Points that can only be spent on Might Skills. Skill points are spent 
            one to one, so all points of each attribute can be spent on one skill or as many different skills as the player has points for, within 
            the attribute’s skill options. The only stipulation, however, is that a skill’s score cannot exceed the score of its governing attribute. 
            If a situation is created where that one rule must be broken for all skill points to be spent, the unspent skills points are instead lost, so allocate wisely!
        </p>
        <p>
            Below is the list of skills. There’s only a small amount of information on this page, but to read more about each skill in greater detail, 
            you can head over to [the section on skills]. <strong>When assigning skill points, don’t forget about the additional skills points generated 
            by your character’s identity!</strong>
        </p>

        <table id="FullTable">
            <tr>
                <th>Skill Name</th>
                <th>Governing Attribute</th>
                <th>Application</th>
            </tr>
            <tr id="Might">
                <td>Hand Weapon</td>
                <td>Might</td>
                <td>One’s aptitude with one handed weapons of all types</td>
            </tr>
            <tr id="Might">
                <td>2 Handed Weapon</td>
                <td>Might</td>
                <td>One’s aptitude with two handed weapons of all types</td>
            </tr>
            <tr id="Might">
                <td>Athletics</td>
                <td>Might</td>
                <td>One’s upper body strength training. Used to swim, climb, lift, push, bend, break, and anything else one could use raw brawn for</td>
            </tr>
            <tr id="Might">
                <td>Abandon</td>
                <td>Might</td>
                <td>One’s ability to relinquish reason in favor of duty. Used as a taunt and to intimidate</td>
            </tr>
            <tr id="Control">
                <td>Ranged Weapon</td>
                <td>Control</td>
                <td>One’s aptitude with ranged weapons of all types</td>
            </tr>
            <tr id="Control">
                <td>Dodge</td>
                <td>Control</td>
                <td>One’s aptitude for actively avoiding attacks or hazards</td>
            </tr>
            <tr id="Control">
                <td>Acrobatics</td>
                <td>Control</td>
                <td>One’s lower body strength training. Used to jump, balance, run, and anything else one could use their legs for</td>
            </tr>
            <tr id="Control">
                <td>Sleight of Hands</td>
                <td>Control</td>
                <td>One’s control over their hands. Used to perform extremely fine tasks with one’s hands and fingers</td>
            </tr>
            <tr id="Control">
                <td>Stealth</td>
                <td>Control</td>
                <td>One’s capacity for concealing their own presents. Used to avoid detection</td>
            </tr>
            <tr id="Vigor">
                <td>Endure</td>
                <td>Vigor</td>
                <td>The power of one’s core. Used to take all manor of punishment that might break a normal individual</td>
            </tr>
            <tr id="Vigor">
                <td>Digest</td>
                <td>Vigor</td>
                <td>The potency of one’s gut. Used to drink poisons without being effected</td>
            </tr>
            <tr id="Vigor">
                <td>Defend</td>
                <td>Vigor</td>
                <td>One’s aptitude for actively blocking incoming attacks</td>
            </tr>
            <tr id="Logic">
                <td>Process</td>
                <td>Logic</td>
                <td>One’s ability to understand information as it’s happening. Can be used to force the game master into explicitly divulging information 
                    that your characters would be able to piece together about a situation</td>
            </tr>
            <tr id="Logic">
                <td>Evaluate</td>
                <td>Logic</td>
                <td>One’s ability to analyze and appraise artifacts, writings, or currency.  </td>
            </tr>
            <tr id="Logic">
                <td>Lore (society)</td>
                <td>Logic</td>
                <td>One’s knowledge regarding civilization and all it’s goings ons. Politics, neighborhoods, streets, important figures, and more.</td>
            </tr>
            <tr id="Logic">
                <td>Lore (wilderness)</td>
                <td>Logic</td>
                <td>One’s knowledge regarding anything outside of civilization while still being above ground. Plants, animals, forests, bandit group tendencies, 
                    beasts of the land, and more.</td>
            </tr>
            <tr id="Logic">
                <td>Lore (dungeon)</td>
                <td>Logic</td>
                <td>One’s knowledge regarding anything underground. Stonework, dungeon layouts, monsters of the underground, and more.</td>
            </tr>
            <tr id="Logic">
                <td>Lore (myth)</td>
                <td>Logic</td>
                <td>One’s knowledge regarding anything that might be regarded as less than true by some. This can include actual myths, but it’s uses are 
                    primarily going to be regarding gods, religions, and unusual monsters.</td>
            </tr>
            <tr id="Logic">
                <td>Strategy</td>
                <td>Logic</td>
                <td>One’s familiarity with the battlefield and the flow of combat. Can be used to confer bonuses to ally’s attack or penalties to enemy attacks. </td>
            </tr>
            <tr id="Reason">
                <td>Perception</td>
                <td>Reason</td>
                <td>One’s ability to identify fine details that might evade other’s notice. Used to find traps, hidden pathways, concealed enemies, and more</td>
            </tr>
            <tr id="Reason">
                <td>Intuition</td>
                <td>Reason</td>
                <td>One’s ability to sense information that they might not otherwise be privy to. Used to determine the threat level of a situation and the 
                    trustworthiness of individuals and information</td>
            </tr>
            <tr id="Reason">
                <td>Nerve</td>
                <td>Reason</td>
                <td>One’s ability to disregard their own self preservation senses. Used to overcome fear effects and gruesome sights</td>
            </tr>
            <tr id="Reason">
                <td>Heal</td>
                <td>Reason</td>
                <td>One’s ability to implement healing materials effectively. Used to recover health and status conditions with the use of healing materials</td>
            </tr>
            <tr id="Disposition">
                <td>Charm</td>
                <td>Disposition</td>
                <td>One’s ability to socially disarm others through flattery. Used to gain the favor of those who would otherwise be less warm to the player. </td>
            </tr>
            <tr id="Disposition">
                <td>Deceive</td>
                <td>Disposition</td>
                <td>One’s ability to conceal information from others. Used to lie, with very broad contexts</td>
            </tr>
            <tr id="Disposition">
                <td>Haggle</td>
                <td>Disposition</td>
                <td>One’s ability to drive the pace of commerce. Used to strike deals inside and outside of the confines of currency. </td>
            </tr>
            <tr id="Disposition">
                <td>Leadership</td>
                <td>Disposition</td>
                <td>One’s ability to influence allies to push beyond their normal limits and to demand the respect of strangers. Has a broad range of uses.</td>
            </tr>
        </table>

        <p>
            Remember when choosing skills that a character doesn't have to be good everything on their own. Players should understand that the nature of the game is to rely on one another
            for good situational coverage. Once players are done distributing their skill points, they're ready to move on to the next step of character creation. 
        </p>
    </div>


    <div class="card" id="PickingFeatures">
        <h2>Picking Features</h2>
    
        <p>
            Features are special bonuses or abilities that your character can access by selecting them during character creation or while leveling up. 
            These can be special moves to perform in combat, different ways to use a character’s existing skills, improvements to a character’s attribute 
            scores, and more. Features add a lot of character to the game and are, in a lot of ways, the heart of Illusion!
        </p>
        <p>
            Players might find that their options for what they can do during the game seem limited, but features are ultimately geared toward allowing players to
            tweak their character to play how they think it should.
        </p>
        <p>
            For example: Characters are not able to move and attack in the same action by default, but the Charge Attack enables that particular behavior if selected.
            As a result, some players might think that taking Charge Attack is a given, <em>however</em> if a player wanted their character to be a strategist, issuing
            attack orders to allies rather than ever attacking on their own, that feature point would certainly be more well spend elsewhere (might I suggest Tactician?).
        </p>
        <p>
            Not all, but most features will have one or more prerequisite before your character can take it. Prerequisites are simple requirements that must be met before
            the feature can be taken onto your character. These come in 3 forms;
        </p>   

        <ul>
            <li><strong>Score Gate:</strong> These require that certain attribute or skill score minimums are met</li>
            <li><strong>Feature Branch:</strong> These require that other features have been picked beforehand</li>
            <li><strong>Core:</strong> Core features can only be taken during character creation</li>
        </ul>

        <p>    
            During character creation, each player may select 2 features for their character. Listed below are the features with the <strong>Core</strong> prerequisite, but 
            more features are available in [the section on Features.]
        </p>



    </div>
</div>


<div class="rightcolumn">
    <div class="card">
        <div w3-include-html="~/Illusion Lite Pages/IllusionLiteNavigationBar.html"></div>
        <script> includeHTML(); </script>
    </div>

    <div class="subCard localnav">
        <h4>Character Creation</h4>
        <a href="/Illusion Lite Pages/CharacterCreation#CharacterCreation"> Overview </a>    <br />
        <a href="/Illusion Lite Pages/CharacterCreation#PickRace"> Picking a Race </a>  <br />
        <a href="/Illusion Lite Pages/CharacterCreation#GenerateAttributes"> Generating Attributes </a>    <br />
        <a href="/Illusion Lite Pages/CharacterCreation#PickIdentity"> Choosing an Identity </a>     <br />
        <a href="/Illusion Lite Pages/CharacterCreation#SpendingSkillPoints"> Spending Skill Points </a>    <br />
        <a href="/Illusion Lite Pages/CharacterCreation#PickingFeatures"> Picking Features </a>         <br />
        <a href="/Illusion Lite Pages/CharacterCreation"> Generating Wealth </a>        <br />
    </div>
</div>