@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Races";
}
<script src="~/Scripts/IncludeHTML.js"></script>

@section featured {
    <div id="liteBanner">
        <h1><span>&nbsp; Illusion Lite &nbsp;</span></h1>
    </div>
}

<div class="leftcolumn">
    <div class="card" id="Overview">
        <h2>Races of Illusion</h2>
        
        <p>
            Characters in Illusion are defined by many qualities, but the most immediately recognisable feature of most will be their race. While there are many differnt races in the
            world of Illusion, only six are playable in the Core Rules, listed briefly with their mechanical funtions in the table below, or in greater detail further down on this page. 
            More races will be included in future expanded content, however, if players can't wait, they are invited to create their own races, or modify the existing ones, so long as 
            the other players at the table, specifically the Gamemaster, are okay with it.
        </p>
    
        <table id="FullTable">
            <tr>
                <th>Race</th>
                <th>Bonus</th>
                <th>Penalty</th>
            </tr>
            <tr>
                <td>Dwarf</td>
                <td>Can distribute 2 points between Vigor and Reason</td>
                <td>Starting Control is reduced by 1</td>
            </tr>
            <tr>
                <td>Elf</td>
                <td>Can distribute 2 points between Control and Logic</td>
                <td>Starting Vigor is reduced by 1</td>
            </tr>
            <tr>
                <td>Half-Elf</td>
                <td>Starting Disposition is improved by 1, and any one attribute is improved by 1</td>
                <td>Reduce any one attribute by 1 point</td>
            </tr>
            <tr>
                <td>Halfling</td>
                <td>Can distribute 2 points between Control and Disposition</td>
                <td>Starting Might is reduced by 1</td>
            </tr>
            <tr>
                <td>Half-Orc</td>
                <td>Can distribute 2 points among all attributes</td>
                <td>Starting Disposition is reduced by 1</td>
            </tr>
            <tr>
                <td>Human</td>
                <td>Improve any one attribute by 1 point</td>
                <td><em>None</em></td>
            </tr>
        </table>    
    </div>

    <div class="card" id="Dwarves">
        <h2>Dwarves</h2>
        <p>
            Dwarves are stout, short, wise, and proud. Their cities are generally built into the sides of mountains with the most exquisite of craftsmanship, 
            and their ability to shape stone and forge metals from years of practice is coveted among the high class of every race. Being predisposed to 
            mining and tunneling, dwarves tend to have an appetite for discovery and rare naturally occuring minerals, like gold, silver, and jewels. While 
            they tend to be standoffish to strangers, dwarves are fiercely loyal to those they keep as company, and will openly treat friends as family. Dwarves 
            also have the longest life expectancy of all the races, including the non-conventionally immortal Elves, due to their maximum life span of around 
            800 years paired with their impressive constitution. 
        </p>
        <p>
            All isn’t perfect with the race of stone, however, as they have 2 significant weaknesses that have ruined entire dwarvish civilizations in the past; 
            greed and sloth. Every dwarf, whether they know it or not, has a tremendous draw toward one type of raw material which can manifest itself at the 
            worst of times in the worst of ways. This material can be as common as silver, but it’s more likely to be an obscure or even legendary metal or gem. 
            It’s also been suggested, though never proven, that all dwarves are self destructively lazy and gluttonous when enabled to be. This is cited to be the 
            reason why many dwarven empires fall before a single individual’s full reign. While more dwarves are socialized to be hard workers and calculated decision 
            makers, their society also encouraged regular and public overconsumption of alcohol. This is viewed by the other races as less of a vice and more of a 
            quirk of dwarven culture. 
        </p>
        
        <h3>Dwarf players should consider the following;</h3>
        <ul>
            <li>Dwarves are generally well liked among the other races.</li>
            <li>Dwarves are hardy and wise, but lack finesse due to their stubby limbs.</li>
            <li>Dwarf players should pick one mineral to be their character’s obsession subject. The more common the material, the more difficult playing the character will be.</li>
        </ul>    
    </div>

    <div class="card" id="Elves">
        <h2>Elves</h2>
        <p>
            Elves, for all intents and purposes, exist in the same realm as the other races as a cosmic error. Everything about them suggests that they would hail from the Wild Steppe, 
            the material realm’s magically infused sister realm. Despite that, there are no historical records that suggest the elves lived anywhere other than the mortal realms, so it 
            is impossible to know if there is any truth behind that suspicion. All elves are infused with a magical light that prevents them from aging once their bodies achieve 
            maturity after around 100 years of life. Comparatively, the oldest an elf will ever look is very similar to how a human might look in their late 20’s or early 30’s. This 
            effect isn’t just cosmetic however, as the magical light is also bound to the elves’ life force making them biologically immortal. Were the mortal realms a peaceful place, 
            elves would represent the ultimate life form. Unfortunately, the mortal realms are not a peaceful place, and elves happen to be more physically frail than any of the other 
            races, making them just as vulnerable as any of the other races when the subject concerns an untimely end.
        </p>
        <p>
            For someone who's never seen an elf, they’re likely to appear quite uncanny, or even unnerving. Their physical appearance could be described as a caricature of a human, 
            with large facial features, long pointed ears, and thin, lanky limbs. They also find themselves quite often to be taller than humans, and with much longer arms- arms 
            that continue to grow around one inch a century. Being alive for so long enables elves to unconsciously train their bodies to be more naturally nimble, simply by 
            controlling the same vessel for so long. Additionally, elves also often find themselves victims of a powerful wanderlust which, while useful for acquiring knowledge, 
            doesn’t pair well with their physically frail nature.
        </p>

        <h3>Elf players should consider the following;</h3>
        <ul>
            <li>Elves are seen as eccentric and sometimes even considered untrustworthy by the other races.</li>
            <li>Through many years of life, elves gather a wealth of knowledge and finely hone their control over their own bodies, however they are physically frail 
                and vulnerable to violence.</li>
            <li>Elf players should be willing and eager to explore the unknown, even if it’s obviously a bad idea.</li>
        </ul>   
    </div>

    <div class="card" id="hElves">
        <h2>Half Elf</h2>
        <p>
            Due to their biological similarities, humans and elves are reproductively compatible. The result of such a union is referred to as a Half Elf. Physically half elves 
            take more after their human parents, with their bodies forgoing the long, lanky proportions and their faces having smaller, more human sized features. In fact, the 
            only standout that separates a half elf from a human are the long, pointed ears that appear to have come directly from their elven lineage. Many would say that the 
            combination of both race’s physical qualities results in an objectively beautiful creature, though that doesn’t grant the races much from its detractors. 
        </p>
        <p>
            It’s not unusual for some people to find elves to be a distasteful people, refusing to treat them as equals to their own race, and this goes doubly so for half elves. 
            These groups of people refer to the half elves as “mongrels” or, more commonly, “mongrelves”. The more violent and hateful of the prejudice rabble would sometimes 
            hunt half elves and claim their pointed ears as trophies in a grisly display of “racial dominance”, though this practice is frowned upon by very nearly all of organized 
            society. The prejudice comes from an old scholar’s suggestion that elves were trying to dilute the human population, by tainting their gene pool and slowly overtaking 
            the world. The piece of writing that this was documented in was written as satire- a subtlety that was unfortunately lost on a frightening portion of the human population.
        </p>
        <p>
            Fortunately for the half elves, they do not inherit their elven parent’s physical frailty, while at the same time adopting their human parents versatility. They 
            are not biologically immortal like their elven parents, and age at the same rate as humans- achieving maturity around 20 years of life and live to be somewhere 
            between 80 and 100 years of age.
        </p>
        <h3>Half Elf players should consider the following;</h3>
        <ul>
            <li>Half elves are generally well liked among the other races, though there are some pockets of extreme prejudice.</li>
            <li>Half elves are physically beautiful and similarly versatile to their human parents.</li>
            <li>Due to the radical nature of what prejudice there is toward half elves, they may not be entirely safe in some places.</li>
        </ul>
    </div>

    <div class="card" id="Halflings">
        <h2>Halflings</h2>
        <p>
            In warm cozy homes, built into the sides of various small hills, live halflings. Halflings, also known as “half humans”, are short, nimble, and friendly creatures. 
            They have dark curly hair, rounded facial features, and are prone to becoming quite portly as they age. They live to be in the range of 150 to 200 years of age, and 
            through those years find themself amassing a rather impressive collection of various odds and ends. While the other races may have members that yearn for adventure 
            their whole lives, halflings “front load” in a sense. That is to say, from the age 15 to about 40 halflings will pursue adventure ceaselessly, collecting various 
            keepsakes along the way to remember the time by. Once those years are behind them, they simply bask in the memories, resting in warm, comfortable homes that are 
            safely hidden away from the world. Once at this stage in their lives, halflings relish in the chance to entertain guests and recount stories of their adventures, 
            over and over, allowing the tales to become more and more outlandish and divorced from reality with each telling. Some are even willing to trade the telling rights 
            of their stories to other halfling visitors for new stories of their own. These overblown and outlandish stories eventually get told to young halflings who then 
            yearn for their own adventures, and so the cycle continues.
        </p>
        <p>
            While in their stories halflings are usually portrayed as heroic and powerful people, they are actually quite timid, though unwilling to admit it. They are creatures 
            that very much enjoy comfort and consistency, and fear the uncertainty that comes with adventure. They want to believe with earnest that they are the brave noble 
            heroes they see themselves as, but when the time comes for action they will often fall back on making excuses, which for what it’s worth, they are quite adept at. 
            Their fearful and meek nature has earned halflings a bit of a reputation among the other races as a type of wasted potential.
        </p>
        <h3>Halfling players should consider the following;</h3>
        <ul>
            <li>Halflings are often seen as a novelty by the other races. A people fun to enjoy the company of, but not a people to safely rely upon.</li>
            <li>Due to their diminished size, halflings possess a great deal of agility that doesn’t fade with age, but that same quality makes them less physically 
                powerful than the other races.</li>
            <li>Halflings are very averse to danger, and would always prefer to stay in known safe spaces. This is especially true of halfling over the age of 40.</li>
        </ul>
    </div>

    <div class="card" id="hOrcs">
        <h2>Half Orc</h2>
        <p>
            Similarly to elves and humans, orcs, surprisingly enough, are reproductively compatible with humans. The result of this union is referred to as a Half Orc. 
            Orcs are often perceived as savage and unintelligent creatures, and that reputation is magnified for this, what is considered to be the most unfortunate of 
            the races. Most people are willing to fear half orcs for their assumed savage nature, or pity them for the almost certainly unfortunate circumstances 
            surrounding their births. But in truth, half orcs are as much a blank canvas as their human parents. Depending on their view of the world and their 
            upbringing, half orcs can be violent stereotype enforcers, or noble heroes and protectors of peace. 
        </p>
        <p>
            Half orcs are tall and built thick, like their orcish parent. They also feature a range of skin tones that can be anything from forest green to grey. Finally, 
            from their orcish heritage, they have dark, sometimes red, eyes and demonic looking upturned noses. The orcish influence on them is almost entirely skin deep 
            however, as they have the minds and hearts of humans, arguably to a fault. Some can be prone to taking too quickly to emotional responses, while others might 
            use their race’s reputation as motivation for self improvement. 
        </p>
        <h3>Half Orc players should consider the following;</h3>
        <ul>
            <li>Half orcs are feared or looked down on by most, though public display of this distaste has been suppressed over the past few year.</li>
            <li>Half orcs are a well of potential in a physically off-putting package.</li>
            <li>Optionally, during character creation, half orc players should choose if they will be short tempered and violet or begrudgingly patient and diplomatic. 
                This decision should follow the character.</li>
        </ul>
    </div>

    <div class="card" id="Humans">
        <h2>Humans</h2>
        <p>
            The youngest and most prevalent of the organized races, is the human. Humans are creatures with a great deal of variety between and throughout them. So much so, 
            that it’s difficult to describe the lot of them briefly. Humans can range from shorter than 4 to over 7 feet in height, under 100 to over 500 pounds in weight, 
            and can be nearly any color on the spectrum. Humans are responsible for the rise and fall of countless kingdoms, the waging of many wars, the creation of a myriad 
            of inventions, and the pioneering of several important societal developments, arguably the most important of which being written history. Before the dawn of humankind, 
            all history was recorded orally and with little concern for accuracy. While this innovation will surely be useful going forward, it also dates the human race in a 
            definitive way, showing that their entire kind is only as old as a long armed elf, around 3,000 years. Fittingly so, considering that human life is much shorter 
            than the other races, with a human life lasting on average between 50 and 80 years. 
        </p>
        <p>
            Humans are creatures with a tremendous capacity for good, evil, love, hate, fear, courage, and passion. The personality and beliefs of humans vary greatly between 
            individuals, and no two are alike. They are exceptionally versatile and can do nearly anything they set their mind to. 
        </p>
        <h3>Human players should consider the following;</h3>
        <ul>
            <li>Humans can be seen by the other races in a variety of ways, depending on the human’s community of hailing</li>
            <li>Humans are frightfully versatile in all aspects.</li>
            <li>Humans aren’t generalized by the fact that they are humans, but rather the community from which they come. When making a human character, make sure they 
                have consistent values and beliefs that persist throughout play.</li>
        </ul>
    </div>    
</div>

<div class="rightcolumn">
    <div class="card">
        <div w3-include-html="~/Illusion Lite Pages/IllusionLiteNavigationBar.html"></div>
        <script> includeHTML(); </script>
    </div>

    <div class="subCard localnav">
        <h4>Races of Illusion</h4>
        <a href="/Illusion Lite Pages/Races#Overview">  Overview </a>  <br />
        <a href="/Illusion Lite Pages/Races#Dwarves">   Dwarves </a>   <br />
        <a href="/Illusion Lite Pages/Races#Elves">     Elves </a>     <br />
        <a href="/Illusion Lite Pages/Races#hElves">    Half-Elves </a><br />
        <a href="/Illusion Lite Pages/Races#Halflings"> Halflings </a> <br />
        <a href="/Illusion Lite Pages/Races#hOrcs">     Half-Orcs </a> <br />
        <a href="/Illusion Lite Pages/Races#Humans">    Humans </a>    <br />
    </div>
</div>