
/* Create two unequal columns that floats next to each other */
/* Left column */
#blogPage .leftcolumn {
    float: left;
    width: 76%;
}
/* Right column */
#blogPage .rightcolumn {
    float: right;
    width: 22%;
}


/* Add a card effect for articles */
#blogPage .card {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), white);
    padding: 20px;
    margin-top: 20px;
}


/* Image changes */
#blogImage1, #blogImage2, #blogImage3, #blogImage4, #blogImage5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:100%;
    max-width:300px;
}


#blogPage img:hover {
    opacity: 0.7;
}

#InstagramLogo{
    height:auto;
    width: 100%;
}



/* Modal Styles */
#blogPage .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin:auto;
    display:block;
    width: 80%;
    max-width: 700px;
}

#blogPage #caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


#blogPage .close1,
#blogPage .close2,
#blogPage .close3,
#blogPage .close4,
#blogPage .close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#blogPage .close1:hover, #blogPage .close1:focus, 
#blogPage .close2:hover, #blogPage .close2:focus,
#blogPage .closs3:hover, #blogPage .close3:focus,
#blogPage .close4:hover, #blogPage .close4:focus,
#blogPage .close5:hover, #blogPage .close5:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* Clear floats after the columns */
#blogPage .row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    #blogPage .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* Side bar for older posts */
#MonthLevel{
    padding-left: 10px;
}
#PostLevel {
    padding-left: 20px;
}

#PostLevel a{
    color: #333;
    outline: none;
    text-decoration: none;
}
#PostLevel a:hover {
    color: lightgrey;
}

details summary:focus {
    outline:none;
}

details summary:hover {
    cursor: pointer;
    background-color: lightgray;
}